.container {
    max-width: 400px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-size: cover;
  }
  body{
    background: linear-gradient(45deg, #ff6347, #ffd700, #00bfff, #32cd32);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;  
  }
 
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
